section{
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.randomColor-container{
    text-align: center;
}

.randomColor-container h2{
    margin-top: 1.5rem;
    color: black;
    font-size: 3rem;
}

.randomColor-container h3{
    font-size: 2rem;
}

.btns-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.btns-container button{
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-weight: 600;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
}

